* {
	padding: 0;
	margin: 0;
}

body {
	font-family: courier, monospace;
	font-size: 14px;
}

h1, h2, h3, h4, p, pre {
	margin: 10px 0 0 0;
}

pre.prettyprint {
	border: 0;
	overflow: scroll;

	background: #EEE;
	border: 1px solid #CCC;
	padding: 10px;
	margin-bottom: 10px;
}

#relay_results,
#about {
	margin: 20px;
}

#about {
	padding-bottom: 10px;
	border-bottom: 1px dotted #CCC;
}

#relay_results > p {
	font-weight: bold;
	margin: 10px 0;
	line-height: 14px;
}

#relay_results ol {
	line-height: 14px;
	list-style: none;
}

#relay_results ol p {
	margin: 0;
}

#relay_results > ol > li {
	background: #EEE;
	border: 1px solid #CCC;
	padding: 10px;
	margin-bottom: 10px;

	font-weight: bold;
}

#relay_results > ol > li ol {
	border: 0;
	padding: 0 20px;

	font-weight: normal;
}

#relay_results > ol > li:last-child {
	margin-bottom: 0;
}

#relay_results ol.callstack:before {
	content: "Callstack:";
}

#relay_results ol.callstack {
	padding-left: 0;
}

#relay_results .succeeded {
	color: green;
}

#relay_results .failed {
	color: red;
}

#relay_results .reason {
	font-weight: bold;
}

#relay_results .duration {
	display: inline-block;
	background: #DDD;
	color: #555;
	border-radius: 2px;
	font-weight: normal;
	margin: 0 4px;
	padding: 0 4px;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
}